/* === Fonts === */
@font-face {
    font-family: Jakarta;
    src: url(../fonts/PlusJakartaSans-Light.ttf);
}

@font-face {
    font-family: JakartaBold;
    src: url(../fonts/PlusJakartaSans-Bold.ttf);
}

@font-face {
    font-family: JakartaExtraBold;
    src: url(../fonts/PlusJakartaSans-ExtraBold.ttf);
}

/* === General Stylings === */
* {
    font-family: Jakarta;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: var(--font-size-large);
}

.JakartaBold {
    font-family: JakartaBold;
}

.JakartaExtraBold {
    font-family: JakartaExtraBold;
}

.InsanelyLarge {
    font-size: var(--font-size-insanely-large);
}

/* === Custom Properties === */
:root {
    --font-size-large: 2.25rem;
    --font-size-insanely-large: 3.25rem;
}

/* === Body Background === */
body {
    background-image: url(../images/bnr-slice1-small.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

/* === Header === */
header {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #1F1F1F;
    height: 4em;
}

/* === No Display for Mobile === */
.nav-links {
    display: none;
}

#Live {
    display: none;
}

/* === Mobile Navigation Buttons === */
#BNR-Logo-Mic {
    position: absolute;
    left: 0;
    width: 55px;
    top: 5px;
}

#menu-button {
    color: white;
    scale: 1.75;

    position: absolute;
    padding: 0 1.5em;
    top: 25px;
    right: 0;
}

#search-button2 {
    color: white;
    scale: 1.5;

    position: absolute;
    padding: 0 5em;
    top: 25px;
    right: 0;
}

/* === Main Content === */
.landingspage-content {
    width: 100%;
    height: 100%;
    overflow: hidden;   
}

#BNR-Iphone {
    width: 60%;
    transform: rotateZ(10deg) scaleX(-1);
}

/* === Media Query for Desktop === */
@media (min-width: 75em) {
    
    /* === Body Background === */
    body {
        background-image: url(../images/bnr-slice1.png);
    }

    /* === Navigation Links === */
    .nav-links {
        display: flex;
        align-items: center;
    
        & a {
            color: white;
            text-decoration: none;
            display: inline-block;
            padding: 0 1em;
            font-family: JakartaExtraBold;
        }
    }
    
    /* === Navigation BNR Logo === */
    #BNR-Logo-Mic {
        left: auto;
        margin: 0 -3em;
    }

    /* === Navigation Live Button === */
    #Live {
        display: flex;
        align-items: center;
    
        padding: 0 0.75em;
        height: 2.5em;
        margin-left: 22em;
    
        background: none;
        color: white;
    
        border: solid white 1px;
        border-radius: 0.25em;
    
        font-family: JakartaExtraBold;
        font-size: 16px;
    
        cursor: pointer;
    
        & #play-button {
            display: flex;
            align-items: center;
            justify-content: center;
    
            color: black;
            background: #fc0;
    
            width: 20px;
            aspect-ratio: 1;
    
            margin-left: 0.5em;
            border-radius: 10px;
        }
    }
    
    /* === Desktop Navigation Buttons === */
    #search-button {
        scale: 1.5;
    }

    #search-button2 {
        display: none;
    }

    #menu-button {
        display: none;
    }
}